# Ignorer les dépendances Node.js (si jamais tu ajoutes npm/yarn)
node_modules/

# Ignorer les fichiers de build ou distribution
dist/
build/

# Ignorer les fichiers temporaires
*.log
*.tmp
*.swp

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers de configuration locaux
.env
.vscode/
.idea/
